@model IEnumerable<CookShare.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Recipe Catalog</h1>

<p>
    <a class="btn btn-primary" asp-controller="Recipe" asp-action="Add">Add Recipe</a>
</p>
@foreach (Recipe r in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => r.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => r.Description)</p>
                    <a class="btn btn-primary" asp-action="ViewRecipe" asp-route-id="@r.RecipeId">See Recipe</a>
                </div>
            </div>
        </div>
    </div>
}
