@model IEnumerable<CookShare.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-controller="Recipe" asp-action="Add">Add Recipe</a>
</p>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a href="#" class="btn btn-primary">See Recipe</a>
                </div>
            </div>
        </div>
    </div>
}
